@font-face {
	font-family: Clattering;
	src: url("../Assets/Clattering.ttf") format("truetype");
}

@font-face {
	font-family: "ProductSans";
	src: url("../Assets/Product\ Sans\ Regular.ttf") format("truetype");
}
@font-face {
	font-family: "ProductSans";
	src: url("../Assets/Product\ Sans\ Italic.ttf") format("truetype");
	font-style: italic;
}
@font-face {
	font-family: "ProductSans";
	src: url("../Assets/Product\ Sans\ Bold.ttf") format("truetype");
	font-weight: bold;
}
@font-face {
	font-family: "ProductSans";
	src: url("../Assets/Product\ Sans\ Bold\ Italic.ttf") format("truetype");
	font-style: italic;
	font-weight: bold;
}
h1 {
	font-family: "ProductSans" !important;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}
h2 {
	font-family: "ProductSans" !important;
	/* margin-top: 0 !important; */
	margin-bottom: 0 !important;
}

.container-text-location {
	/* margin: 0px 0px 0px 0px; */
	/* margin-left: 140px !important;
	margin-top: 460px !important; */
	text-align: start;
	display: flex;
	flex-direction: column;
	/* text-shadow: 0 8px 10px rgba(0, 0, 0, 0.4); */
	/* box */
}

.text-internship {
	/* font-size: 234px; */
	font-family: Clattering;
	color: white;
	margin: 0 0 0 0 !important;
	/* margin: 615px 0 0 150px; */
}
.text-country {
	/* margin-top: -70px; */
	/* font-size: 234px; */
	font-family: Clattering;
	color: #ffc000;
	/* margin: 615px 0 0 150px; */
}

.container-details-main {
	font-family: ProductSans;
	/* letter-spacing: 2px; */

	text-align: left;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
/* .container-details {
	margin-bottom: 10px;
} */
.container-details-main p {
	margin-bottom: 0;
	line-height: 1em;
}
.container {
	/* z-index: 3; */
	position: absolute;
}
.texts {
	text-align: left;
	flex-direction: column;
	pointer-events: none;

	/* position: absolute; */
	/* top: 0; */
	display: flex;
	/* margin-left: 100px; */
}
.TransformComponent-module_container__3NwNd {
	width: 100% !important;
	height: 100% !important;
}

.dropzone {
	border-width: 2px;
	border-radius: 2px;
	border-color: #eeeeee;
	border-style: dashed;
	padding: 0.5em;
}
