.App {
	text-align: center;
	/* overflow-anchor: none; */
}
.Container-header {
	position: sticky;
	position: -webkit-sticky;
	top: 0px;
}
.headercover {
	height: 6rem;
}
.header-sticky {
	transition: box-shadow 0.5s ease-out, padding 0.2s ease-out,
		background-color 0.5s ease-out;
	-webkit-transition: box-shadow 0.5s ease-out, padding 0.2s ease-out,
		background-color 0.5s ease-out;
	-moz-transition: box-shadow 0.5s ease-out, padding 0.2s ease-out,
		background-color 0.5s ease-out;
	-ms-transition: box-shadow 0.5s ease-out, padding 0.2s ease-out,
		background-color 0.5s ease-out;
	-o-transition: box-shadow 0.5s ease-out, padding 0.2s ease-out,
		background-color 0.5s ease-out;
}
#aiesec-man-path {
	transition: fill 0.5s ease-out;
	-webkit-transition: fill 0.5s ease-out;
	-moz-transition: fill 0.5s ease-out;
	-ms-transition: fill 0.5s ease-out;
	-o-transition: fill 0.5s ease-out;
}
.header-text {
	transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
}
